include Makefile
include README
include requirements*.txt
include version.txt
include swh/lister/cran/list_all_packages.R
recursive-include swh/lister/*/tests/ *.json *.html *.txt *.* *
recursive-include swh/lister/*/tests/data/ *.* *
recursive-include swh py.typed
