beautifulsoup4 >= 4.13.3
breezy >= 3.3.12
dateparser
dulwich
iso8601
launchpadlib
looseversion
lxml
mercurial
ndjson
psycopg
pyreadr
python_debian
python-magic
repomd
requests
setuptools
subvertpy
tenacity >= 8.4.2
testing.postgresql
toml
