Source: swh-lister
Maintainer: Software Heritage developers <swh-devel@inria.fr>
Section: python
Priority: optional
Build-Depends: debhelper (>= 9),
               dh-python (>= 3),
               git,
               opam,
               python3-all,
               python3-bs4,
               python3-dateparser,
               python3-debian,
               python3-dulwich,
               python3-iso8601,
               python3-keyring,
               python3-launchpadlib,
               python3-lxml,
               python3-pytest,
               python3-pytest-mock,
               python3-repomd,
               python3-requests,
               python3-requests-mock,
               python3-setuptools,
               python3-setuptools-scm,
               python3-swh.core (>= 0.9),
               python3-swh.core.db.pytestplugin (>= 0.9),
               python3-swh.scheduler (>= 0.0.31~),
               python3-tenacity,
               python3-testing.postgresql,
               python3-testresources,
               python3-xmltodict,
Standards-Version: 3.9.6
Homepage: https://forge.softwareheritage.org/source/swh-lister/

Package: python3-swh.lister
Architecture: all
Depends: python3-swh.core (>= 0.9),
         python3-swh.scheduler (>= 0.0.31~),
         ${misc:Depends},
         ${python3:Depends}
Breaks: python3-swh.lister.github
Replaces: python3-swh.lister.github
Description: Software Heritage Listers (bitbucket, git(lab|hub), pypi, etc...)
