Source: swh-lister-github
Maintainer: Software Heritage developers <swh-devel@inria.fr>
Section: python
Priority: optional
Build-Depends: debhelper (>= 9),
               dh-python,
               python3-all,
               python3-dateutil,
               python3-nose,
               python3-setuptools,
               python3-swh.core,
               python3-swh.scheduler (>= 0.0.10~),
               python3-swh.storage (>= 0.0.76~),
               python3-vcversioner
Standards-Version: 3.9.6
Homepage: https://forge.softwareheritage.org/diffusion/DLSGH/

Package: python3-swh.lister.github
Architecture: all
Depends: python3-swh.scheduler (>= 0.0.10~),
         python3-swh.storage (>= 0.0.76~),
         ${misc:Depends},
         ${python3:Depends}
Description: Software Heritage GitHub lister
